.image {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__source {
    width: 100%;
    height: 100%;
  }
  &--small {
    width: 32px;
    height: 32px;
  }
  &--medium {
    width: 48px;
    height: 48px;
  }
  &--large {
    width: 64px;
    height: 64px;
  }
  &--cover {
    width: 100%;
    height: 100%;
    .image__source {
      object-fit: cover;
    }
  }
  &--placeholder {
    background-color: var(--color-gray-200);
    border: 1px solid var(--color-gray-400);
  }
}

// When rendering raw SVG, the wrapper IS the SVG container
> svg {
  display: block;
  width: 100%;
  height: 100%;
}
