.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  justify-content: space-between;
  background-color: var(--color-sidebar-background);
  color: var(--color-sidebar-text);
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}
