.text-input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.375rem;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xs);

    &__required {
      margin-left: 0.125rem;
      color: var(--color-danger-text);
    }
  }

  .password-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.125rem;
    font-size: 1rem;
    line-height: 1;
    background: transparent;
    border: none;
    border-radius: 50%;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
