.password-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin-left: 0.25rem;
  font-size: 1rem;
  line-height: 1;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
