.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }
  &.col {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }

  &.items-start {
    align-items: flex-start;
  }
  &.items-center {
    align-items: center;
  }
  &.items-end {
    align-items: flex-end;
  }

  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-end {
    justify-content: flex-end;
  }

  &.gap-1 {
    gap: 0.25rem;
  }
  &.gap-2 {
    gap: 0.5rem;
  }
  &.gap-4 {
    gap: 1rem;
  }
}
