@use '../Image/Image.scss';

.logo {
  flex-shrink: 0;
  display: inline-flex;

  & > svg {
    color: var(--color-primary);
  }

  &--loader {
    .image > svg {
      width: 100%;
      height: 100%;
    }
  }

  .logo__loader-mask-rect {
    animation: atlas-rise 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }

  &--wordmark {
    .image > svg {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes atlas-rise {
  0% {
    transform: translateY(55px);
  }

  50% {
    transform: translateY(-55px);
  }

  50.01% {
    transform: translateY(55px);
  }

  100% {
    transform: translateY(55px);
  }
}
