.logo {
  flex-shrink: 0;
  display: inline-flex;

  & > svg {
    color: var(--color-primary);
  }

  &--loader {
    .image > svg {
      width: 100%;
      height: 100%;
    }
  }

  &--wordmark {
    .image > svg {
      width: 100%;
      height: 100%;
    }
  }
}
